<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [class.submitted]="isSubmitted"
>
  <div class="firstName input">
    <label for="firstName">First name:</label>
    <input type="text" formControlName="firstName" />
    <ng-container
      *ngIf="
        form.controls['firstName'].errors &&
        form.controls['firstName'].dirty &&
        isSubmitted
      "
    >
      <p
        *ngIf="form.controls['firstName'].errors['required']"
        [ngStyle]="{ color: '#F00' }"
      >
        First Name is required
      </p>
      <p
        *ngIf="form.controls['firstName'].errors['isUnsafe']"
        [ngStyle]="{ color: '#F00' }"
      >
        {{ form.controls["firstName"].errors["isUnsafe"] }}
      </p>
    </ng-container>
  </div>
  <div class="lastName input">
    <label for="lastName">Last name:</label>
    <input type="text" formControlName="lastName" />
  </div>
  <div class="age input">
    <label for="age">Age:</label>
    <input type="number" formControlName="age" />
  </div>
  <div class="hobbies input">
    <p>Hobbies:</p>
    <div class="hobbies" formArrayName="hobbies">
      <div
        class=""
        *ngFor="
          let hobbyControl of form.controls.hobbies.controls;
          let i = index
        "
      >
        <select [formControl]="hobbyControl">
          <option value="" hidden>select</option>
          <option
            *ngFor="
              let hobby of hobbies
                | hobbies : form.value.hobbies : hobbyControl.value
            "
            [value]="hobby"
          >
            {{ hobby }}
          </option>
        </select>
        <button
          [disabled]="removeBtnDisabled"
          (click)="removeHobbyControll(i)"
          type="button"
          [ngClass]="{ cursorClass: !removeBtnDisabled }"
        >
          x
        </button>
      </div>

      <button
        [disabled]="plusBtnDisabled"
        (click)="addHobbyControll()"
        type="button"
        [ngClass]="{ cursorClass: !plusBtnDisabled }"
      >
        +
      </button>
    </div>
  </div>
  <div class="gender input">
    <div class="option1">
      <input
        type="radio"
        id="male"
        value="male"
        [ngStyle]="{ cursor: 'pointer' }"
        checked
        formControlName="gender"
      />
      <label for="male">{{ gender.Male }}</label>
    </div>
    <div class="option2">
      <input
        [ngStyle]="{ cursor: 'pointer' }"
        type="radio"
        id="female"
        value="female"
        formControlName="gender"
      />
      <label for="female">{{ gender.Female }}</label>
    </div>
  </div>
  <div class="input occupation">
    <label for="occupation">Occupation:</label>
    <select formControlName="occupation" id="occupation">
      <option value="null" hidden>select</option>
      <option [value]="occupation.Developer">{{ occupation.Developer }}</option>
      <option [value]="occupation.Manager">{{ occupation.Manager }}</option>
      <option [value]="occupation.Actor">{{ occupation.Actor }}</option>
    </select>
  </div>
  <div
    *ngIf="form.controls['developerOf']"
    [ngStyle]="{ display: 'flex', flexDirection: 'column' }"
  >
    <label for="developerOf">Developer of:</label>
    <input type="text" id="developerOf" formControlName="developerOf" />
  </div>
  <div
    *ngIf="form.controls['managerOf']"
    [ngStyle]="{ display: 'flex', flexDirection: 'column' }"
  >
    <label for="managerOf">Manager of:</label>
    <input type="text" id="managerOf" formControlName="managerOf" />
  </div>
  <div class="email input">
    <label for="email">Email:</label>
    <input type="email" formControlName="email" />
    <ng-container
      *ngIf="
        form.controls['email'].errors &&
        form.controls['email'].dirty &&
        isSubmitted
      "
    >
      <p
        *ngIf="form.controls['email'].errors['required']"
        [ngStyle]="{ color: '#F00' }"
      >
        Email is required
      </p>
      <p
        *ngIf="form.controls['email'].errors['email']"
        [ngStyle]="{ color: '#F00' }"
      >
        Email is wrong format
      </p>
      <p
        *ngIf="form.controls['email'].errors['isUsed']"
        [ngStyle]="{ color: '#F00' }"
      >
        This email is already used
      </p>
    </ng-container>
  </div>
  <button type="submit" [ngStyle]="{ cursor: 'pointer' }">Register</button>
</form>
