form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;

  label,
  button {
    cursor: pointer;
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.submitted {
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    outline: none;

    &.ng-invalid {
      border: 1px solid #f00;
    }

    &.ng-valid {
      border: 1px solid #0f0;
    }
  }
}
