<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [class.submitted]="isSubmitted"
>
  <div class="firstName input">
    <label for="firstName">First name:</label>
    <input type="text" formControlName="firstName" />
    <ng-container
      *ngIf="
        form.controls['firstName'].errors &&
        form.controls['firstName'].dirty &&
        isSubmitted
      "
    >
      <p
        *ngIf="form.controls['firstName'].errors['required']"
        [ngStyle]="{ margin: 0, color: '#F00' }"
      >
        First Name is required
      </p>
      <p
        *ngIf="form.controls['firstName'].errors['isUnsafe']"
        [ngStyle]="{ margin: 0, color: '#F00' }"
      >
        {{ form.controls["firstName"].errors["isUnsafe"] }}
      </p>
    </ng-container>
  </div>
  <div class="lastName input">
    <label for="lastName">Last name:</label>
    <input type="text" formControlName="lastName" />
  </div>
  <div class="age input">
    <label for="age">Age:</label>
    <input type="number" formControlName="age" />
  </div>
  <div class="hobbies input">
    <label for="hobbies">Hobbies:</label>
    <textarea formControlName="hobbies"></textarea>
  </div>
  <div class="gender input">
    <div class="option1">
      <input
        type="radio"
        id="male"
        value="male"
        [ngStyle]="{ cursor: 'pointer' }"
        checked
        formControlName="gender"
      />
      <label for="male">{{ gender.Male }}</label>
    </div>
    <div class="option2">
      <input
        [ngStyle]="{ cursor: 'pointer' }"
        type="radio"
        id="female"
        value="female"
        formControlName="gender"
      />
      <label for="female">{{ gender.Female }}</label>
    </div>
  </div>
  <div class="input occupation">
    <label for="occupation">Occupation:</label>
    <select formControlName="occupation">
      <option [value]="undefined" selected>select</option>
      <option [value]="occupation.Developer">{{ occupation.Developer }}</option>
      <option [value]="occupation.Doctor">{{ occupation.Doctor }}</option>
      <option [value]="occupation.Actor">{{ occupation.Actor }}</option>
    </select>
  </div>
  <div class="email input">
    <label for="email">Email:</label>
    <input type="email" formControlName="email" />
  </div>
  <button type="submit">Register</button>
</form>
